<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=  cl_image_path @cocktail.photo,  crop: :fill  %>');">
  <div class="card-category">Cocktail</div>
  <div class="card-description">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
<div>
  <button id="new-dose" style="margin: 20px;">New Dose</button>
  <div id="dose-form" class="hidden">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :ingredient_id, collection: Ingredient.all %>
      <%= f.input :description %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
<div>
  <% @doses.each do |dose| %>
    <div>
      <h3><%= dose.ingredient.name %> <%= dose.description %></h3>
      <p><%= link_to "delete", cocktail_dose_path(dose), method: :delete %></p>
    </div>
  <% end %>
</div>
<button class="btn btn-alarm">
<%= link_to "Go Back", cocktails_path %>
</button>




