<h1><%= @cocktail.name %></h1>

<%= link_to "new dose", new_cocktail_dose_path(@cocktail), id: "new-dose" %>

<% @doses.each do |dose| %>
  <h3><%= dose.ingredient.name %> <%= dose.description %></h3>
  <p><%= link_to "delete", cocktail_dose_path(dose), method: :delete %></p>
<% end %>

<%= link_to "Go Back", cocktails_path %>
